body {
   background: black;
   color: white;
   font-family: "Tinos", serif;
}
div.main {
  margin: auto !important;
  width: 50%;
}
div.title {
      margin: auto;
}
a {
   text-decoration: none;
   color: white;
}
div.nav {
   float: left;
   margin: 0;
}
div.container {
   margin-left: 25%;
}
img {
    display: block;
    margin: auto;
}
